*
{
    margin: 0 0;
}

body
{
    font-family: Helvetica;
    font-weight: normal;

    overflow-x: hidden;

    background: white;
}
h1
{
    /*    font-family: Times;*/
    font-size: 13px;
    font-weight: 500;

    padding-top: 20px;
    padding-bottom: 20px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: 1px;
    text-transform: uppercase;

         -o-user-select: none;
}
h1:hover
{
    text-decoration: underline;

    color: red;
}

h2
{
    font-size: 18px;
    font-weight: lighter;

    margin-top: 2%;
    margin-bottom: 10%;

    text-align: center;
}
p
{
    font-size: 13px;
    line-height: 1.25;

    letter-spacing: .5px;
}

a
{
    text-decoration: none;

    color: red;
}

a:hover
{
    text-decoration: underline;

    color: white;
    background-color: red;
}

iframe
{
    display: block;

    width: 90%;
    height: 85vh;
    margin: 0 auto;
    margin-bottom: 3%;

    border: 1px solid #000;
}

::-webkit-scrollbar
{
    width: 13px;

    border-left: solid #000 1px;
}
::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 0;
    background: #000;
}
::-webkit-scrollbar-thumb:window-inactive
{
    border: solid #000 1px;
    background: #fff;
}

.wrapper
{
    top: 0;
    left: 0;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0;
}

.topBar
{
    font-family: Times;
    font-size: 14px;

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    border-bottom: 1px solid black;
    background: white;
}

.topBar.clicked
{
    height: auto;
}

.about
{
    position: absolute;
    z-index: 2;

    display: flex;
    float: left;

    width: 100vw;
    height: auto;
    padding-top: 82px;

    background: white;
}

#chinaAbout{
}
#englishAbout{
}

.about.clicked
{
    display: none;

    width: 0;
}

.about p
{
/*    width: 60%;*/
    width: 420px;
    padding-left: 40px;
}

.info
{

    float: left;

    padding-left: 20px;
}

.sort
{
    display: flex;
    float: right;

    box-sizing: border-box;
    width: 45%;
    height: 100%;
    padding-right: 20px;

    justify-content: space-between;
}

.feed
{
    position: absolute;

    display: none;
    overflow-x: hidden;
    overflow-y: hidden;

    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-top: 58px;
}
.feed h1
{
    padding-left: 20px;
}
.feed.clicked
{
    display: block;
    overflow-y: hidden;
}

.name
{
    margin: 0 auto;
}
.name img
{
    display: none;
}

img.preview
{
    position: fixed;
    z-index: 20;
    right: 0;
    bottom: 0;

    display: none;

    width: 39%;
    height: auto;
    margin-right: 4%;
    margin-bottom: 2%;
    padding: 0;

    pointer-events: none;

    opacity: 0;
    border: solid black 1px;
    background: white;
}

img.preview.savage
{
    width: 33%;
    padding: 3%;
}


h1.tooltip:hover + img.preview
{
    display: block;

    opacity: 1;
}

.project
{
    position: relative;

    display: inline;
    float: left;

    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;

    text-align: left;

    border-bottom: solid 1px #000;
}
.project h1
{
    padding-left: 40px;
}

.project.expanded
{
    width: 100%;
}
.content
{
    position: relative;

    display: none;

    width: 100%;
    height: auto;
    padding-bottom: 10%;
}

img
{
    display: block;

    width: auto;
    height: 85vh;
    margin: 0 auto;
}
.posters
{
    display: block;

    margin: 0 auto;
}
.vert
{
    width: auto;
    height: 85vh;
    margin: 0 auto;
}

.hori
{
    width: 75%;
    height: auto;
    padding-top: 20%;
}

.boxVert
{
    width: auto;
    height: 85%;
    padding: 0 0;
}

.boxHori
{
    width: 90%;
    height: auto;
    padding: 0 0;
    padding-right: 2%;
    padding-left: 2%;
}

.fullTrap
{
    width: 100%;
    height: auto;
}

.imageBox.topper
{
    padding-top: 0;
}

.imageBox
{
    position: relative;

    display: flex;
    float: right;

    width: 75%;
    height: 85vh;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 3%;

    background: none;

    align-items: flex-start;
    justify-content: center;
}

.imageBox.full
{
    display: block;

    width: 100%;
    height: auto;

    align-items: flex-start;
    justify-content: flex-start;
}

.ninety{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.imageBox.full.sansOwl
{
    height: 100vh;
}

.textBox
{
    position: relative;

    float: left;

    width: 20%;
    height: 85vh;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.bottomText
{
    position: relative;

    display: flex;
    flex-direction: row;

    width: 90%;
    height: auto;
    margin: 0 auto;
/*    margin-bottom: 40px;*/

    flex-wrap: nowrap;
    justify-content: flex-start;
}

.bottomText p
{
    font-size: 18px;
    font-weight: 300;

    padding-right: 20px;
    padding-left: 0;

    letter-spacing: 0;
}

.owl-carousel
{
    width: 60%;
    margin: 0 auto;

    cursor: ew-resize;

    justify-content: center;
    align-items: center;
}
.owl-carousel.wide
{
    width: 85%;
}
.full .owl-carousel.wide
{
    width: 75%;
}
.full .owl-carousel.ride
{
    width: 90%;
}



.outline .item
{
    border: 1px solid #ddd;
}


@media only screen and (max-width:800px)
{
    .topBar.clicked
    {
        height: auto;
    }
    .info
    {
    }
    .about
    {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .about p
    {
        padding-right: 20px;
    }

    .sort
    {
        width: 60%;
        height: auto;
    }

    img
    {
        width: 90%;
        height: auto;
    }
    img.preview
    {
        margin-bottom: 3%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .imageBox
    {
        float: none;

        width: 90vw;
        height: auto;
        margin: 0 auto;
        padding: 0 auto;
        padding-top: 10%;
        padding-bottom: 10%;

        align-items: center;
    }
    .imageBox.full.sansOwl
    {
        height: auto;
    }
    .textBox
    {
        float: none;

        width: 90%;
        height: auto;
        margin: 0 auto;
        padding-left: 0;
    }
    .textBox p
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .bottomText
    {
        float: none;
        flex-direction: column;

        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .bottomText p
    {
        font-size: 14px;
        font-weight: normal;

        padding-left: 20px;

        letter-spacing: .5px;
    }
    .boxVert
    {
        width: 90%;
        height: auto;
        padding: 0 0;
    }
    .boxHori
    {
        width: 90%;
        height: auto;
        padding: 0 0;
    }
    .owl-carousel
    {
        width: 90%;

        align-items: center;
    }
    .owl-carousel.wide
    {
        width: 90%;
    }
    .full .owl-carousel.wide
    {
        width: 90%;
    }
    ::-webkit-scrollbar
    {
        width: 6px;
    }
    p
    {
        font-size: 14px;
    }
    .project
    {
        width: 100%;
    }

    h2
    {
        margin-bottom: 10%;

        text-transform: uppercase;
    }
    h3
    {
        text-align: center;
    }
    .vert
    {
        width: 75%;
        height: auto;
    }
    .hori
    {
        width: 90%;
        height: auto;
        margin-top: 20%;
    }
}

@media only screen and (max-width:600px)
{
    .sort
    {
        width: 25%;

        justify-content: flex-end;
    }
    .brandSwitch
    {
        display: none;
    }
    .userSwitch
    {
        display: none;
    }
    .printSwitch
    {
        display: none;
    }
    .about
    {
        width: 100%;
    }
    .about p
    {
        width: auto;
        padding-left: 20px;
    }
    .owl-nav
    {
        display: none;
    }
    .owl-dots
    {
        display: flex;
        float: none;

        width: auto;
        margin: 0 auto;
        margin-top: 20px;

        align-items: center;
        justify-content: center;
    }
    .owl-theme .owl-dots .owl-dot span
    {
        width: 6px;
        height: 6px;
    }
}

/*IPAD Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)
{
}
/*IPAD Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)
{
    .imageBox
    {
        height: 50vh;
    }
    .textBox
    {
        height: 50vh;
    }
}


body
{
    color: #383838;
    border-color: #383838;
}
