.owl-carousel
{
    width: 60%;
    margin: 0 auto;

    cursor: ew-resize;

    justify-content: center;
    align-items: center;
}
.owl-carousel.wide
{
    width: 85%;
}
.full .owl-carousel.wide
{
    width: 75%;
}
.full .owl-carousel.ride
{
    width: 90%;
}

@media only screen and (max-width:800px)
{
    .imageBox.full.sansOwl
    {
        height: auto;
    }
    .owl-carousel
    {
        width: 90%;

        align-items: center;
    }
    .owl-carousel.wide
    {
        width: 90%;
    }
    .full .owl-carousel.wide
    {
        width: 90%;
    }
}

@media only screen and (max-width:600px)
{
    .owl-nav
    {
        display: none;
    }
    .owl-dots
    {
        display: flex;
        float: none;

        width: auto;
        margin: 0 auto;
        margin-top: 20px;

        align-items: center;
        justify-content: center;
    }
    .owl-theme .owl-dots .owl-dot span
    {
        width: 6px;
        height: 6px;
    }
}