@font-face { font-family: TimesNewRomanMTStd-Cond; src: url('TimesNewRomanMTStd-Cond.otf');}
@font-face { font-family: TimesNewRomanMTStd-Cond; font-weight: bold; src: url('TimesNewRomanMTStd-Cond.otf');}

html, body{
	font-family: "TimesNewRomanMTStd-Cond";
/*	font-family: Helvetica;*/
	font-weight: normal;
	color: black;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.5s ease-in-out;
}

h1{
    font-weight: normal;
    font-size: 42px;
    letter-spacing: -1.5px;
    padding-right: 5vw;
    line-height: 1;
}
h2{
	font-family: "Helvetica";
	font-weight: normal;
	font-size: 21px;
	text-align: center;
	letter-spacing: -0.3px;
	text-transform: uppercase;
	margin-bottom: 5%;
}
h3{
	font-family: "Helvetica";
	text-transform: uppercase;
	font-weight: normal;
	font-size: 21px;
	text-align: left;
	padding-left: 5vw;
}
p{
	font-family: "Helvetica";
	text-align: left;
	font-size: 14px;
	line-height: 1.25;
	width: 100%;
	letter-spacing: -0.4px;
	margin: 0 0;

	/*font-size: 36px;
	line-height: 1.3;
	padding-left: 5vw;
	padding-right: 40%;
	width: auto;
	letter-spacing: -1px;*/
}

.about{
	padding-left: 5vw;
	width: 400px;
}

a{
	color: red;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: white;
	background-color: red;
}

img{
    width: auto;
    height: 85vh;
    margin: 0 auto;
    display: block;
/*    padding-bottom: 3%;
    padding-top: 15%;
*/}

.vert{
	width: auto;
	height: 85vh;
}

.hori{
	width: 75%;
	height: auto;
	padding-top: 20%;
}

.boxVert{
	height: 85%;
	width: auto;
	padding: 0 0;
}

.boxHori{
	width: 85%;
	height: auto;
	padding: 0 0;
	padding-left: 2%;
	padding-right: 2%;
}

.imageBox{
	position: relative;
	width: 75%;
	height: 85vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0;
	margin: 0;
	float: right;
	background: none;
	padding-top: 2%;
	padding-bottom: 2%;
}

.textBox{
	position: relative;
	width: 19%;
	height: 85vh;
	margin-top: 0;
	padding-left: 5vw;
	float: left;
	background: none;
	padding-top: 2%;
	padding-bottom: 2%;
}

iframe{
	margin: 0 auto;
	display: block;
	cursor: pointer;
	box-shadow: 1px 1px 12px #bcbcbc;
	width: 375px;
	height: 667px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    background: #000000;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #FFF;
    border: solid #000000 1px;
}

.zip{
	width:100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 0;
	top: 0;
	left: 0;
	overflow: none;
	background: pink;
	box-sizing: border-box;
}
.loc{
	width: 100%;
	height: 100%;
	left: 0;
	margin: 0 auto;
	padding: 0 0;
	background: blue;
	box-sizing: border-box;
}

.cover{
	width: 15%;
	height: 85%;
	border-right: solid 1px #000000;
	border-bottom: rgba(75, 0, 255, 0);
	border-top: rgba(75, 0, 255, 0);
	border-left: rgba(75, 0, 255, 0);
	transition: 0.5s ease-in-out;
	box-sizing: border-box;
	z-index: 11;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	background-color: white;
	position: fixed;
}

.logo{
	width: 100%;
	height: 100%;
	margin: auto;
}

.title{
	width: 15%;
	height: 15%;
	top: 0;
	left: 0;
	position: fixed;
	box-sizing: border-box;
	padding: 10px;
	border-right: solid 1px #000000;
	border-bottom: solid 1px #000000;
	z-index: 9;
	transition: 0.5s ease-in-out;
}

.title.nicked{
	height: 50%;
	width: 15%;

}
.cover.nicked{
	bottom: 0;
	height: 50%;
}

.boring{
    position: fixed;
    left: 0;
    margin: 0 auto;
    width: 40%;
    height: auto;
    box-sizing: border-box;
    z-index: 10;
    padding-left: 5vw;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.boring h1:hover{
	text-decoration: underline;
	text-align: left;
	color: red;
	cursor: pointer;
}

.info{
	width: 100%;
	height: 0%;
	margin: 0 auto;
	padding: 0 0;
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: white;
	overflow: scroll;
	box-sizing: border-box;
}

.info.clicked{
	width: 100%;
	height: 100%;
	opacity: 1;
}

.feed{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	left: 0%;
	margin: 0 auto;
	padding: 0 0;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	z-index: 8;
	background-color: white;
}

.project{
	margin: 0 auto;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	border-bottom: solid 1px #000000;
	text-align: right;
}



.infoButton{border-bottom: none;}

.name{
	margin: 0 auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

.name img{
	display: none;
}

.name:hover{
	text-decoration: underline;
	color: red;
	cursor: pointer;
	display: block;
}

img.preview{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	padding-left: 5vw;
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 5%;
	width: 30%;
	height: auto;
	z-index: 20;
	transition: 0.5s ease-in-out;
	opacity: 0;
}

h1.tooltip:hover + img.preview{
	display: block;
	transition: 0.5s ease-in-out;
	opacity: 1;
}

.content{
	display: none;
	transition: 1s ease-in-out;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 10%;
}
.owl-carousel{
	width: 50%;
	margin: 0 auto;
	cursor: ew-resize;
	display: flex;
	align-items: flex-start;
}
.owl-carousel.wide{
	width: 80%;
}

#demos .owl-carousel .item{
	height:10rem;
	background:#4DC7A0;
	padding:1rem;
}


@media only screen and (max-width:1000px){

	body{
	}
	p{
		font-size: 11px;
	}

	.imageBox{
		width: 90vw:
		height: auto;
		float: none;
		margin: 0 auto;
	}

	.owl-carousel{
		width:70%;
	}
}

@media only screen and (max-width:800px){

	img{
		height: auto;
		width: 90%;
	}
	.imageBox{
		align-items: center;
		height: auto;
		width: auto;
		padding-top: 15%;
		padding-bottom: 15%;
	}
	.textBox{
		width: auto;
		height: auto;
		float: none;
	}
	.boxVert{
		height: auto;
		width: 90%;
		padding: 0 0;
	}
	.boxHori{
		height: auto;
		width: 90%;
		padding: 0 0;
	}
	.owl-carousel{
		align-items: center;
		width: 85%;
	}
	.owl-carousel.wide{
		width: 90%;
	}
	::-webkit-scrollbar {
	    width: 6px;
	}
	p{
		line-height: 1.15;
		letter-spacing: -0.3px;
		font-size: 18px;
		width: 90%;
	}
	.about{
		padding-left: 5vw;
		width: 90%;
	}
	h1{
	    font-size: 36px;
		text-align: right;
	    letter-spacing: -1.4px;
	    padding-right: 5vw;
	    padding-left: 5vw;
	    line-height: 1;
	}
	h2{
		font-size: 24px;
		text-align: center;
		padding-left: 5vw;
		letter-spacing: -0.3px;
		text-transform: uppercase;
		margin-bottom: 10%;
	}
	h3{
		font-size: 24px;
		text-align: center;
	}
	.boring{
		padding-left: 0;
		width: 55%;
	}
	.boring h1{
		text-align: left;
	}

	.vert{
		width: 75%;
		height: auto;
	}
	.hori{
		width: 85%;
		height: auto;
		margin-top: 20%;
	}
	iframe{
		width: 250px;
		height: 445px;
	}

	.title{
		width: 25%;
		height: 10%;
	}

	.info{
		width: 0%;
		height: 100%;
		margin: 0 auto;
		padding: 0 0;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		background-color: white;
		box-sizing: border-box;
	}
	.feed{
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

}

@media only screen and (max-width:600px){
	p{
		padding-right: 2%;
		padding-left: 0;
	}
	h1{
		padding-left: 5vw;
		padding-right: 5vw;
		font-size: 32px;
	}
}

@media only screen and (max-width:380px){
	p{
		font-size: 18px;
		padding-left: 3%;
		padding-right: 2%;
		line-height: 1.2;
	}
	.vert{
		width: 80%;
		height: auto
	}
	h1{
		font-size: 24px;
		padding-left: 5vw;
		padding-right: 5vw;
		letter-spacing: -0.5px;
	}
	h2{
		font-size: 24px;
		text-align: center;
		letter-spacing: 0;
	}
	h3{
		font-size: 24px;
		text-align: center;
		letter-spacing: 0;
		padding-left: 3%;
	}
	.boring{
		padding-right: 0;
	}
}


/*IPAD Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {}
/*IPAD Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
	.imageBox{
		height: 50vh;
	}
	.textBox{
		height: 50vh;
	}
}


